
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.carousel-item {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

img {
    opacity: 0.8;
}

article {
    margin: 50px 10% 10%;
}

.btn-green {
    background-color: #2abd38;
    border-color: #2abd38;
}

.btn-green:active {
    background-color: #2abd38;
}

.btn-green:hover {
    background-color: #2abd38;
    border-color: #2abd38;
    transform: scale(1.1);
}
